/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "normalize";

h1 {
	font-size: 3.9vw;
	text-align: center;
	font-family: 'Source Sans Pro', serif;
	color: #B8424E;
}

.header_container {
	border-width: 15px;
	border-style: solid;
	border-color: SteelBlue;
	background-color: rgba(255, 255, 255, 0.8);
	width: 30%;
	margin: auto;
}

#h2container {
	border: solid 3px #B8424E;
	background-color: rgba(255, 255, 255, 0.8);
	width: 150px;
	margin: auto;
	padding: 0;
}
h2 {
	font-family: "Source Sans Pro";
	font-size: 2.5vw;
	text-align: center;
	color: SteelBlue;
	text-transform: bold;

}