body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: url("cargo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed;
  }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#new {
  margin: auto;
  width: 100px;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


.mainnav {
  margin: auto;
  text-align: center;

}

.mainnav a:hover {
  background-color: SteelBlue;
}

#boatshow {
  font-family: "Heebo", arial;
  background-color: #B8424E;
  border: 3px solid SteelBlue;
  margin: auto;
  width: 30%;
  text-align: center;
  padding-bottom: 5px;
}

p {
  font-family: "Heebo";
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 5px 15px 5px 15px;
  background-color: #9A8290;
  font-family: "Heebo";


  &:visited {
    color: #fff;
  }

  &:hover {
    color: #fff;
    background-color: #B7A3A8;
  }
}

table {
  font-family: "Heebo";
  background-color: #B8424E;
  margin: 0 auto;
  width: 100%
}

th {

  font-family: "Heebo";
  color: #CF9F47;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  text-align: left;
}

td {
  padding: 10px 5px 5px 10px;
  font-family: "Heebo";
  color: #fff;
}

tbody {
  font-family: "Heebo";
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    display: inline-block;
  }
}

label {
  display: block;
}

form {
  font-family: "Heebo";
  background-color: #CF9F47;
  border-width: 3px solid;
  padding: 10px;
}

.new_user {
text-align: center;
margin: auto;
}

#toandfrom {
  text-align: center;
}

#toandfrom .field {
  display: inline-block;
}

.field {
  margin-top: 10px;
  display: inline-block;
  padding: 15px;
  text-align: center;

}

.actions {
  text-align: center;
}

.actions input {
  background-color: SteelBlue;
  border-style: none;
  color: #fff;
}

.actions input:hover {
 }

#sharedlinks {
  color: blue;
}

input {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.usernav li {
  display: inline-block;
  float: right;

}

.notice {
  color: green;
  text-align: center;
  background-color: #fff;
  width: 200px;
}

.alert {
  color: red;
  text-align: center;
  background-color: #fff;
  width: 250px;
  margin-left: 500px;
}

// view: jobs/show
.table1 {
  font-family: "Heebo";
  background-color: #B8424E;
  margin: 0 auto;
  width: 80%;
  padding: 15px;
  margin-bottom: 5px
}
